<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

      <h2>Add a review:</h2>
      <%= form_for [@product, Review.new] do |f| %>
        <p>
          <%= f.label 'Review' %><br>
          <%= f.text_area :description %>
        </p>
           <div class="form-group">
            <%= f.label :rating %>
            <%= f.select :rating, options_for_select(0..5), class: 'form-control' %>
            <br>
            <input class="btn btn-success" type="submit" value="Create Review">
           </div>
        <p> 
          
        </p>
      <% end %>

      <div class="col-sm-4">
        <h2>Reviews</h2>
          
        <% @product.reviews.reverse_each do |review| %>
          <div class= "well review-well">
            <h4>
              <%= review.user.name %>
            </h4>
            <p>
              <strong>Rating</strong>
              <%= review.rating %>
            </p>
            <p>
              <strong>Review:</strong>
              <%= review.description %>
            </p>
          </div>
        <% end  %>

    </div>

  </article>

</section>
